@import url('https://fonts.googleapis.com/css?family=Nova+Round|Raleway:300,400,600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Concert+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Varela&display=swap');

html {
  height: 100vh;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  height:100%;
  margin: 0;
  padding:0;
  font-family: 'Raleway', sans-serif;
  display: flex;
  justify-content: center;
  font-size: 18px;
  color: #000;
  line-height: 22px;
}

p {
  margin: 10px;
}

div.last {
  height:80px;

}

a {
  color: #c25c78;
  text-decoration: none;
}

#root {
  width:100%;
}


.container div {
  width: 100%;
}

.button, button, input[type='button'], input[type='reset'], input[type='submit'] {
  background-color:#c25c78;
  color:white;
  border: none;
  text-transform: none;
  font-weight: 300;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  width:100%;
  height: 60px;
  border-radius: 10px;
  margin: 2% 0 2% 0;
}

button.reversed {
  color:#c25c78;
  background-color:white;
  border: 1px solid #c25c78;
}

input[type='text'], input[type='email'], input[type='password'], input[type='number'] {
  font-size: 18px;
  width:100%;
  height: 50px;
  font-family: 'Raleway', sans-serif;
  padding: 5%;
  border-left: none;
  border-top: none;
  border-right: none;
  border-radius: 0px;
  background-color: white;
  color: #000;
  margin: 2% 0 2% 0;
}

select {
  font-size: 18px;
  width:100%;
  height: 50px;
  font-family: 'Raleway', sans-serif;
  padding: 2%;
}

input[type='text']:disabled, input[type='email']:disabled, input[type='password']:disabled {
  background-color:rgb(223, 223, 223);
  color: rgb(94, 94, 94);
}


.container {
  padding: 0 10% 0 10%;
  height:100%;
}

.error {
  background: #c25c7847;
  padding: 6%;
  font-size: 15px;
  border-radius: 10px;
  color: #707070;
}

.success {
  background: #5cc1a547;
  padding: 6%;
  font-size: 15px;
  border-radius: 10px;
  color: #707070;
}

fieldset {
  border:none;
}

label {
  margin: 5% 7% 5% 0 ;
  text-align: center;
}

input[type='radio']:checked + label {
  color:#c25c78;
  background-color:white;
  border-bottom: 1px solid #707070;
}

nav {
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  width: 102%;
  bottom: 0;
  background: white;
  box-shadow: 0px -2px 15px -2px rgba(133,133,133,1);
}

nav div {
  width:auto;
  align-items: center;
}

.selected p, span {
  color:#c25c78;
  font-weight: 400;
}

hr {
  margin:20px 0;
}

#chart {
  display: flex;
  justify-content: center;
  margin-left:-74px;
  margin-top:20px;
}

.loading {
  animation: 6s infinite rotate;
}

@keyframes rotate {
  0% {transform: rotate(0deg);}
  
  100% {transform: rotate(360deg);}
}

.greyScale {
  filter: grayscale(100%);
}
.disabledButton {
  filter:opacity(0.5);
}

progress {
  width: 100%;
  height: 35px;
  margin-bottom: 10px;
  background: white;
}

progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(126, 126, 126, 0.25) inset;
}

progress[value]::-webkit-progress-value {
  background-color: #5cc1a5;
  border-radius: 10px 0 0 10px; 
  margin: 3% 0;
}

progress.completed[value]::-webkit-progress-value {
  border-radius: 10px;
}

.extra {
  width:100%!important;
  background: repeating-linear-gradient( 45deg, #5cc1a408, #5cc1a408 10px, #5cc1a424 10px, #5cc1a424 20px )
}

.apexcharts-menu-icon {
  display: none;
}

#statistics {
  width:90%;
}